h1, h2{
      text-align: center;
}
.users{
      max-width: 80%;
      margin: 0 auto;
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 10px 20px;

      .todos{
            max-width: 60%;
            margin: 0 auto;
            border: 1px solid lightgray;
            border-radius: 4px;
            padding: 0px 10px;

      }

}
