.header{
      border-bottom: 2px solid lightgray;

      .header-container{
            max-width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                  font-size: 25px;
            }

            ul{
                  display: flex;
                  justify-content: space-between;

                  li{
                        padding: 5px 10px;
                        list-style: none;
                        a{
                              text-decoration: none;
                              font-size: 22px;
                              color: rgb(42, 76, 187);
                              padding: 7px 15px;
                        }
                  }
            }
      }

}
.active{
      background-color: rgb(72, 133, 204);
      color: white;
      border-radius: 4px;
}